@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="container">
    <div class="card" style="margin-top: 160px; margin-bottom: 100px;">
        <div class="card-body">
            <div>
                <hgroup class="title">
                    <h1>@ViewBag.Title.</h1>
                </hgroup>
                <div>
                    <p>
                        Your password has been reset. Please @Html.ActionLink("click here to log in.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>