@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<div class="container">
    <div class="card" style="margin-top: 160px; margin-bottom: 100px;">
        <div class="card-body">
            <div>
                <hgroup>
                    <h1 class="text-danger">Locked out.</h1>
                    <h2 class="text-danger">This account has been locked out, please try again later.</h2>
                </hgroup>
            </div>
        </div>
    </div>
</div>