@{
    ViewBag.Title = "Index";
}
<style>
    body {
        background-color: #f4f4f4;
    }

    .row {
        margin-top: 25px;
    }

    .card {
        margin-top: 160px;
        margin-bottom: 100px;
    }

    .btn {
        cursor: pointer;
        margin-bottom: 25px;
        width: 200px;
    }
</style>

<div class="container">
    <div class="card">
        <div class="card-body">
            <h2>manager page</h2>
            <div class="row">
                <div class="col-sm-6">
                    <a href="~/Manager/LodgeType" class="btn btn-primary">Lodgestypes</a>
                    <a href="~/Manager/lodge" class="btn btn-primary">All Lodges</a>
                    <a href="~/Manager/Users" class="btn btn-primary">All Users</a>
                    <a href="~/Manager/ChangeDiscounts" class="btn btn-primary">Change Discounts</a>
                    <a href="~/receptionist/" class="btn btn-primary">View All Bookings</a>
                    <a href="~/Manager/printinvoice" class="btn btn-primary">Print Invoices</a>
                </div>
            </div>
        </div>
    </div>
</div>